[ req ]
prompt             = no
string_mask        = default
default_bits       = 2048
distinguished_name = req_distinguished_name
x509_extensions    = x509_ext
req_extensions     = req_ext
[ req_distinguished_name ]
organizationName = TrueNAS (Nextcloud)
commonName = localhost
[ req_ext ]
subjectAltName = @alt_names
[ x509_ext ]
keyUsage=critical,digitalSignature,keyAgreement
subjectAltName = @alt_names
[ alt_names ]
DNS.1 = localhost
IP.1 = ${IOCAGE_JAIL_IP}
